@page "/registrar"
@using System.ComponentModel.DataAnnotations
@layout Headless
@inherits RegisterPage

<PageTitle>Registrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pb-8">
                <img src="imgs/logo.png" alt="Floripa Surf Club - Agendamento" />
            </div>

            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />
                @* <ValidationSummary /> *@


                <MudTextField T="string"
                              Label="Nome"
                              HelperText="Campo obrigatório"
                              InputType="InputType.Text"
                              For="@(() => InputModel.Nome)"
                              @bind-Value="InputModel.Nome" />

                <MudTextField T="string"
                              Label="E-mail"
                              HelperText="Campo obrigatório"
                              InputType="InputType.Email"
                              For="@(() => InputModel.Email)"
                              @bind-Value="InputModel.Email" />

                <MudTextField T="string"
                              Label="Senha"
                              InputType="InputType.Password"
                              HelperText="Campo obrigatório"
                              For="@(() => InputModel.Senha)"
                              @bind-Value="InputModel.Senha" />


                <MudTextField T="string"
                              Label="Confirmar Senha"
                              InputType="InputType.Password"
                              HelperText="Campo obrigatório"
                              For="@(() => InputModel.ConfirmaSenha)"
                              @bind-Value="InputModel.ConfirmaSenha" />


                <MudTextField T="string"
                              HelperText="Campo obrigatório"
                              Label="Telefone"
                              InputType="InputType.Number"
                              For="@(() => InputModel.Telefone)"
                              @bind-Value="InputModel.Telefone" />


                <MudSelect @bind-Value="InputModel.TipoUsuario" Label="Selecione o tipo de usuário" HelperText="Selecione" Placeholder="Por favor selecione" AdornmentIcon="@Icons.Material.Filled.Person" AdornmentColor="Color.Primary">
                    @foreach (var tipoUsuario in InputModel.TipoUsuarios)
                    {
                        <MudSelectItem Value="@tipoUsuario">@tipoUsuario</MudSelectItem>
                    }
                </MudSelect>


                <div class="d-flex mt-8">
                  @if(IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">COMEÇAR</MudButton>
                        <MudSpacer />
                        <MudButton Href="/login" Variant="Variant.Filled" Color="Color.Primary">JA TENHO UMA CONTA</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>


